<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.ftb.dao.FtbDao">
    <select id="selectMatchesList" parameterType="map" resultType="map">
    	SELECT
    		MATCH_ID,
    		LEAGUE_ID,
    		MATCH_DATE,
    		MATCH_CN 
    	FROM 
    		TB_MATCHES_L
    	WHERE
    		MATCH_DATE = #{today}
    		AND LEAGUE_ID = #{leagueId}
    </select>
    
    <insert id="insertMatchesL" parameterType="map">
    	INSERT INTO TB_MATCHES_L 
    	(
   			MATCH_ID,
			LEAGUE_ID,
			MATCH_DATE,
			MATCH_CN,
			regist_date
   		)
   		VALUES
    	(
    		default,
    		#{LEAGUE_ID},
    		#{MATCH_DATE},
    		#{MATCH_CN},
    		default
    	)
    </insert>
    
    <delete id="deleteFootballData">
    	DELETE FROM TB_MATCHES_L
    </delete>
</mapper>